body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  height: 100%;
  background-color: #fbf7f8;
}

.timeline-title {
  font-size: 5em;
  margin-bottom: 5px;
  font-weight: 500;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

.timeline-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.timeline-line {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #222;
  z-index: 0;
}

.timeline-item {
  position: relative;
  width: 230px;
  text-align: center;
  margin: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.timeline-item.up {
  transform: translateY(-156px);
}

.timeline-item.down {
  transform: translateY(322px);
}

.circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 2;
  position: relative;
}

.red {
  transform: translateY(45px);
  background-color: #e74c3c;
}
.blue {
  transform: translateY(-38px);
  background-color: #00bfff;
}
.orange {
  transform: translateY(45px);
  background-color: #f39c12;
}
.purple {
  transform: translateY(-38px);
  background-color: #9b59b6;
}
.green {
  transform: translateY(84px);
  background-color: #27ae60;
}
.black {
  transform: translateY(-38px);
  background-color: #000000;
}

@media screen and (max-width: 600px) {
  body {
    padding: 20px 10px;
  }
  .timeline-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-top: 40px;
  }

  .timeline-line {
    display: none;
  }
  .timeline-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }
  .timeline-item {
    width: 100%;
    max-width: 280px;
    margin: 40px 0;
    transform: none;
  }

  .timeline-item.up,
  .timeline-item.down {
    transform: none;
  }

  .circle {
    display: none;
  }

  .timeline-item.up .circle::after,
  .timeline-item.down .circle::after {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 1600px) {
  body {
    padding: 20px 10px;
  }

  .timeline-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-top: 40px;
  }

  .timeline-line {
    display: none;
  }

  .timeline-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .timeline-item {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    font-size: 1.3rem;
    transform: none;
  }

  .timeline-item.up,
  .timeline-item.down {
    transform: none;
  }

  .circle {
    display: none;
  }

  .timeline-item.up .circle::after,
  .timeline-item.down .circle::after {
    display: none;
  }
}
